@page
@model webappRazor.MyrazorpageModel
@{
    ViewData["Title"] = "Myrazorpage";
}

<h1>Myrazorpage</h1>
<h5>Welcome to my page </h5>
<div>
    <input type="text"  /><br/>
    <label draggable="auto" spellcheck="true" inert="inert">Enter your name</label><br/>
    <input type="password" /><br/>
    <label> Enter password</label>
</div>
